<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>menu_storyboard</key>
		<false/>
		<key>menu_class</key>
		<string>LYConversationListController</string>
		<key>menu_name</key>
		<string>聊天</string>
		<key>menu_icon</key>
		<string>message</string>
		<key>menu_icon_selected</key>
		<string>message_selected</string>
	</dict>
	<dict>
		<key>menu_storyboard</key>
		<false/>
		<key>menu_class</key>
		<string>LYHanMissionViewController</string>
		<key>menu_name</key>
		<string>待办</string>
		<key>menu_icon</key>
		<string>hanmission</string>
		<key>menu_icon_selected</key>
		<string>hanmission_selected</string>
	</dict>
	<dict>
		<key>menu_storyboard</key>
		<false/>
		<key>menu_class</key>
		<string>LYApplicationMainController</string>
		<key>menu_name</key>
		<string>应用</string>
		<key>menu_icon</key>
		<string>application</string>
		<key>menu_icon_selected</key>
		<string>application_selected</string>
	</dict>
	<dict>
		<key>menu_storyboard</key>
		<false/>
		<key>menu_class</key>
		<string>LYHanChuanCircleViewController</string>
		<key>menu_name</key>
		<string>社区圈</string>
		<key>menu_icon</key>
		<string>ht_circle</string>
		<key>menu_icon_selected</key>
		<string>ht_circle_selected</string>
	</dict>
	<dict>
		<key>menu_storyboard</key>
		<false/>
		<key>menu_storyboard_name</key>
		<string>STORYBOARD_TYPE_MAIN</string>
		<key>menu_class</key>
		<string>LYMeTableViewController</string>
		<key>menu_name</key>
		<string>我的</string>
		<key>menu_icon</key>
		<string>me</string>
		<key>menu_icon_selected</key>
		<string>me_selected</string>
	</dict>
</array>
</plist>
